.commentary-card {
  border-color: black;
  border-width: 2px !important;
  border-style: dashed;
  margin-bottom: 5px !important
}
.author-style{
  text-decoration: underline
}
.custom-container{
display: flex !important;
justify-content: center
}