.my-text-area{
  margin-top: 30px !important;
  width: 80vw !important;
}
.my-form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}
.my-form-button{
  margin-bottom: 10px;
  margin-top: 10px
}